@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/* start__normilize CSS*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body,
h1,
h2,
p,
ul
 {
	margin: 0;
	padding: 0;
}
/* end__normilize CSS*/

/*common stylesheet*/

body {
	font-family: PT Sans, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.hightext {
	font-size: 18px;
	font-weight: 700;
	color: #40474e;
}

.midtext {
	font-size: 16px;
	font-weight: 700;
	color: #384048;
}

.smalltext {
	color: #787b80;
	font-size: 14px;
	font-weight: 400;
}

.common--button {
	text-decoration: none;
	display: inline-block;
	line-height: 30px;
	padding: 0 19px 0 19px;
	border-radius: 20px;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}

.common--button.green {
	background-color:  #50c3af;
	color: #f5f5f5;
	transition: all 0.3s;
}

.common--button.green:hover {
	background-color: #03a58b;
}

.common--button.grey {
	background-color: #d2d5da;
	color: #f5f5f5;
}

.common--button.grey:hover {
	background-color: #313838;
}

/*end of common stylesheet*/

/*header*/

.header {
	background: url(../img/header_background.png) no-repeat;
	background-size: cover;
	position: relative;
}

.header--container {
 	padding: 65px 0 120px;
 }

.header__logo {
	margin: 0 auto 47px auto;
	max-width: 110px;
	width: 100%;
}

.header__navigation {
	max-width: 423px;
	width: 100%;
  margin: 0 auto 79px auto;
}

.header__navigation__group {
	list-style-type: none;
	text-align: center;
}

.header__navigation__group li {
	display: inline-block;
	margin: 0 3.9%;
}

.header__navigation__group  a {
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
	transition: all 0.3s;
}

.header__navigation__group  a:hover {
	color: #50c3af;
}

.header__greeting {
	color: #ffffff;
	font-size: 53px;
	font-weight: 700;
	margin-bottom: 43px;
	text-align: center;
}

.header__signature {
	font-size: 15px;
	color: #ffffff;
	font-weight: 700;
	position: relative;
	text-align: center;
	margin-bottom: 83px;
}


/*header decoration*/
.header__signature::before,
.header__signature::after {
	content: '';
	position: relative;
	display: inline-block;
	width: 100px;
	bottom: 4px;
	border-top: 2px rgb(100%, 100%, 100%, 0.3) solid;
}

.header__signature::before {
	right: 30px;
}

.header__signature::after {
	left: 30px;
}

/*end of header decoration*/

.header__btn {
	margin: 0 22%;
	text-align: center;
}

.header__btn__link {
	display: inline-block;
	padding: 0 45px;
	line-height: 45px;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	color: #ffffffff;
	background-color: #50c3af;
	border-radius: 30px;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	transition: all 0.3s;
}

.header__btn__link:hover {
	background-color: #03a58b;
}

/*advantages*/

.advantages {
	background-color: #eeeeef;
	padding: 60px 0 70px;
}

.advantages__section {
	display: inline-block;
	width: 32.3333334%;
}

.advantages__section__headline {
	text-align: center;
	position: relative;
	margin-bottom: 40px;
	padding-top: 60px;
}

.advantages__section__headline.users::before {
	content: '';
	position: absolute;
	background: url(../img/user-group_copy.png) no-repeat;
	width: 43px;
	height: 31px;
	left: 80px;
	top: 0;
}

.advantages__section__headline.heart::before {
	content: '';
	position: absolute;
	background: url(../img/heart.png) no-repeat;
	width: 39px;
	height: 35px;
	left: 80px;
	top: 0;
}

.advantages__section__headline.headset::before {
	content: '';
	position: absolute;
	background: url(../img/headset.png) no-repeat;
	width: 39px;
	height: 42px;
	left: 80px;
	top: 0px;
}

.advantages__section__insection::before {
	content: '';
	background-image: url(../img/advantages_rectangle.png);
	width: 135px;
	height: 2px;
	position: absolute;
	top: -20px;
	left: 28px;
}
/*end of advantages img*/

.advantages__section__insection {
	line-height: 24px;
	text-align: center;
	position: relative;
}

/* end of advantages*/

/*services*/
.services {
	background-color: #f5f5f5;
	padding: 65px 0 70px;
}

.services__article {
	display: inline-block;
	text-align: left;
	width: 40%;
}

.services__article.left { 
	float: left;
}

.services__article.right {
	float: right;
}

.services__artical__img {
	display: inline-block;
	max-width: 264px;
}

.services__artical__img img {
	width: 100%;
	height: auto;
}

.serveces__headline {
	margin-top: 42px;
}

.services__paragraph {
	margin: 50px 0 30px;
	position: relative;
}

.services__paragraph::before {
	content: '';
	position: absolute;
	background-image: linear-gradient(to right, #e2e3e4, #f3f3f4);
	width: 100%;
	height: 2px;
	top: -20px;
	left: 0;
}

/*end of services*/

/*support*/
.support {
	background-color: #eeeeef;
}

.support__article {
	padding: 65px 0;
}

.support__article__headline {
	padding-left: 40px;
	background: url(../img/circle.png) no-repeat;
	background-position: 0 0;
	background-size: 24px 23px;
	line-height: 24px;
	margin-bottom: 51px;
}

.support__article__paragraph {
	line-height: 24px;
	margin-bottom: 38px;
	position: relative;
}

.support__article__paragraph::before {
	content: '';
	position: absolute;
	background: url(../img/support_rectangle.png) no-repeat;
	width: 100%;
	height: 2px;
	top: -25px;
}

/*end of support*/

/*articles*/

.articles {
	background-color: #f5f5f5;
	padding: 60px 0 70px;
}

.articles--container {
	text-align: center; 
}

.articles__article {
	display: inline-block;
	width: 30%;
	text-align: left;
	line-height: 24px; 
}

.articles__article.left {
	float: left;
}

.articles__article.right {
	float: right;
}

.articles__article__img {
	display: inline-block;
	max-width: 181px;
	margin-bottom: 41px;
}

.articles__article__img img {
	width: 100%;
	height: auto;
}

.articles__article__headline {
	margin-bottom: 48px;
}

.articles__article__paragraph {
	position: relative;
	margin-bottom: 28px;
}

.articles__article__paragraph::before {
	content: '';
	position: absolute;
	background: url(../img/articles_rectangle.png); 
	width: 100%;
	height: 2px;
	top: -35px;
	left: 0;
}

.articles__article__container__link {
	text-decoration: none;
	color: #50c3af;
}

.articles__article__container__link:hover {
	text-decoration: underline;
}
/*end of articles*/

/*opportunities*/

.opportunities {
	background-color: #eeeeef;
	padding: 65px 0 60px;
}

.opportunities__section {
	line-height: 24px;
	display: inline-block;
	width: 42%;
}

.opportunities__section.left {
	float: left;
}

.opportunities__section.right {
	float: right;
}

.opportunities__section__headline {
	padding-left: 40px;
	margin-bottom: 47px;
}

.opportunities__section__headline.plane {
	background: url(../img/plane.png) no-repeat;
	background-position: 0 50%;
}

.opportunities__section__headline.pencil {
	background: url(../img/pencil.png) no-repeat;
	background-position: 0 50%;
}

.opportunities__section__paragraph {
	margin-bottom: 36px;
	position: relative;
}

.opportunities__section__paragraph::before {
	content: '';
	position: absolute;
	background: url(../img/opportunities_rectangle.png) no-repeat;
	width: 100%; 
	height: 2px;
	top: -23px;
}
/*end of opportunities*/

/*offer*/
.offer {
	background-color: #f5f5f5;
}

.offer__article {
	padding: 60px 0;
}

.offer__article__img {
	float: left;
	max-width: 264px;
	margin-right: 36px;
}

.offer__article__img img {
	width: 100%;
	height: auto;
}

.offer__article__content {
	line-height: 24px;
}

.offer__article__content__headline {
	margin-bottom: 56px;
}

.offer__article__paragraph {
	position: relative;
	margin-bottom: 29px;
}


.offer__article__paragraph::before {
	content: '';
	position: absolute;
	top: -30px;
	background-image: linear-gradient(to right, #e2e3e4, #f3f3f4);
	width: 40%;
	height: 2px;
}
/*end of offer*/

/*resources*/
.resources {
	background-color: #50c3af;
	padding: 50px 0 70px;
}

.resources__paragraph {
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	margin: 0 auto 64px auto;
	max-width: 270px;
	width: 100%;
	padding-left: 25px;
	background: url(../img/star.png) no-repeat;
	background-position: 0 20%;
	position: relative;
}

.resources__paragraph::after {
	content: '';
	position: absolute;
	background: url(../img/resources_rectangle.png) no-repeat;
	width: 251px;
	height: 2px;
	top: 30px;
	left: 3%;
}

.resources__group {
	text-align: center;
}

.resorces__group__item {
	display: inline-block;
	margin: 0 2.895%;
}

.resorces__group__item img {
	display: inline-block;
	vertical-align: middle;
}

/*end of resources*/
.footer {
	background-color: #f5f5f5;
}
.footer--container {
	padding: 24px 0;
}

.footer__copyright {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #aaacaf;
	display: inline-block;
	width: 49%;
}

.footer__link {
	text-decoration: none;
	color: #aaacaf;
}

.footer__link:hover {
	color: #787b80;
}

.footer__copyright__dark {
	color: #787b80;
}

.footer__socials {
	display: inline-block;
	text-align: right;
	width: 49%;
}

.footer__socials__item {
	display: inline-block;
	margin: 0 2%;
}

.footer__socials__item img {
	display: inline-block;
	vertical-align: middle;
}

.footer__socials__item img:hover {
	filter: brightness(0.3) saturate(1.2);
}


/*end of footer*/

/*media queries*/

@media (min-width: 320px) and (max-width: 620px) {
	.container {
		max-width: 500px;
		width: 100%;
	}

	.header__signature::before,
	.header__signature::after {
		width: 10%;
	}

	.header__signature::before {
		right: 20px;
	}

	.header__signature::after {
		left: 20px;
	}

	.header__btn__link {
		padding: 10px 15px;
		line-height: 25px;
	}

	.advantages__section {
		width: 100%;
	}

	.advantages__section__headline.users::before,
	.advantages__section__headline.heart::before,
	.advantages__section__headline.headset::before {
		left: 46%;
		top: 0;
	}

	.advantages__section__insection {
		margin-bottom: 50px;
	}

	.advantages__section__insection--withoutmargin {
		margin-bottom: 0;
	}

	.advantages__section__insection::before {
		top: -20px;
		left: 35%;
	}

	.services__article {
		width: 100%;
		text-align: center;
	}

	.services__article.left,
	.services__article.right {
		float: none;
	}

	.services__article:first-child {
		margin-bottom: 50px;
	}

	.services__paragraph {
		padding: 0 50px;
	}

	.services__paragraph::before {
		width: 80%;
		height: 2px;
		top: -20px;
		left: 10%;
	}

	.support__article {
		padding: 65px 20px;
	}

	.articles__article {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	.articles__article:last-child {
		margin-bottom: 0;
	}

	.articles__article.right,
	.articles__article.left {
		float: none;
	}

	.articles__article__paragraph {
		padding: 0 20px;
	}

	.articles__article__paragraph::before {
		width: 70%;
		height: 2px;
		top: -35px;
		left: 15%;
	}

	.opportunities--container {
		padding: 0 20px;
	}

	.opportunities__section {
		width: 100%;
	}

	.opportunities__section:first-child {
		margin-bottom: 50px;
	}

	.opportunities__section.left,
	.opportunities__section.right {
		float: none;
	}

	.offer__article {
		padding: 60px 20px;
	}

	.offer__article__img {
		float: none;
		width: 100%;
		max-width: none;
		margin-bottom: 50px;
	}

	.resorces__group__item {
		display: inline-block;
		width: 100%;
		margin: 0 0 50px 0;
	}

	.resorces__group__item:last-child {
		margin: 0;
	}

	.footer--container {
		padding: 24px 20px;
	}
}

@media (max-width: 400px) {
	.advantages__section__insection::before {
		left: 32%;
	}

	.header__signature::before,
	.header__signature::after {
		width: 5%;
	}

		.advantages__section__headline.users::before,
		.advantages__section__headline.heart::before,
		.advantages__section__headline.headset::before {
		left: 45%;
		top: 0;
	}
}
